.profile{
    text-align: left;
    border-style: solid;
    border-width: 1px;
}

.card {
    border-radius: 5px; /* 5px rounded corners */
    border-style: solid;
    border-width: 1px;
  }

  .container {
    padding: 2px 16px;
  }

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
